<!-- repositories counter badge -->
<a href="{{ site.github.owner_url }}?tab=repositories">
  <img
    src="https://img.shields.io/badge/dynamic/json?url=https://api.github.com/users/{{ site.github.owner_name }}&label=repositories&query=public_repos&color=blue&logo=github"
    alt="Public repositories"
  >
</a>

<!-- star counter badge -->
<a href="{{ site.github.owner_url }}?tab=repositories&sort=stargazers">
  <img
    src="https://img.shields.io/github/stars/{{ site.github.owner_name }}?affiliations=OWNER&style=flat&style=flat-square&logo=star&logoColor=yellow"
    alt="Total stars"
  >
</a>
