@media print, screen and (min-width: 960px) and (max-width: 1360px){
  section {
      padding: 50px 0;
      margin: 0 0 0 300px;
  }
  .wrapper {
      margin: 0 auto;
  }
}


@media print, screen and (min-width: 1360px){
  section {
      width: 900px;
      float: right;
      padding: 50px 0;
      margin: 0;
  }
  .wrapper {
      width: 1260px;
      margin: 0 auto;
  }
}
