@media screen and (min-width: 961px){
  section {
      padding: 0;
      margin: 0 0 0 300px;
      float:none;
      width:auto;
  }
  div.wrapper {
      width:auto;
      margin: 0 auto;
      max-width:1312px
  }
}

header {
  padding: 0;
}

body {
  color: #111;
}

a:not(:has(img)) {
  text-decoration: underline;
}

a:not(:has(img)):hover,
a:not(:has(img)):focus {
  font-weight: unset;
}
