@media screen and (min-width: 961px){
  section {
      padding: 0;
      margin: 0 0 0 300px;
      float:none;
      width:revert;
  }
  div.wrapper {
      width:revert;
      margin: 0 auto;
      max-width:1260px
  }
}

header {
  padding: 0;
}

.badges {
    width: min-content;
    text-align: justify;
}
.badges img {
    max-width: none;
}
