@media print, screen and (min-width: 960px) and (max-width: 1360px){
  section {
      padding: 0;
      margin: 0 0 0 300px;
      float:none;
      width:revert;
  }
  .wrapper {
      width:revert;
      margin: 0;
  }
}


@media print, screen and (min-width: 1360px){
  section {
      padding: 0;
      margin: 0 0 0 300px;
      float:none;
      width:revert;
  }
  .wrapper {
      width: 1260px;
      margin: 0 auto;
  }
}
