@media screen and (min-width: 960px){
  section {
      padding: 0;
      margin: 0 0 0 300px;
      float:none;
      width:revert;
  }
  .wrapper {
      width:revert;
      margin: 0 auto;
      max-width:1260px
  }
}

header {
  padding: 0;
}
